/* global */
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
   /* margin: 0;
    padding: 0;*/
    font-family: 'Roboto', sans-serif;
    background-color: #1b1a1a;
    color: #b3b3b3;
}

h2,h1{
    color: #fff;
}

a{
    color: #b3b3b3;
    /*outline: none;*/
    text-decoration: none;
    display: inline;
}
a:hover{ 
    color: #A31F34;
}

 /*For the little link icons */
.icon{ 
    font-size: 2.5rem;
}
.icon:hover{ 
    color: #A31F34;
}


/*Grey Bootstrap Button*/
.btn{
    background-color: #b3b3b3;
    border-radius: 12px;
    padding: 8px 12px;
    margin: 10px;
}
.btn:hover{ 
    color: #b3b3b3;
    background-color: #A31F34;
}


/*Red Button*/
.btn-danger{ 
    color: #b3b3b3;
    background-color: #A31F34;
}
.btn-danger:hover{ 
    background-color: #b3b3b3;
    color: #A31F34;
}


/*Cards*/
.card{
    card-height: 100%;
    background-color: #b3b3b3;
    border-radius: 12px;
    margin: 12px 12px;
    color: #1b1a1a;
    /*min-height: 400px;*/
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 12px;
    margin: 0px;
}

/*New Appearance Lists*/
.list-group-item{
    background-color: #b3b3b3;
    color: #1b1a1a;
}
.list-group-item:hover{
    color: #b3b3b3;
    background-color: #A31F34;
}


/*
section {
  display: block;
}


.section-1{
    padding-top: 30vh;
    padding-left: 20vw;
    text-align: center;
    /* display: block; */
    /* max-width: 600px; */
    /* padding-top: 20vh; */
    /*
    padding-right: 20px;
    padding-left: 20px; */
    /* padding-left: 20vw;
    text-align: center; */
}


/*.section-3{
    padding-left: 15vw;
    padding-right: 15vw;
}*/
/*/*

/* media queres */
/*@media(max-width:780px){
    .grid-2{
        grid-template-columns: 1fr;
    }
    .section-1{
        padding:0;
        padding-top: 5rem;
    }
    .section-2{
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
    }
}*/

/*.button {
  border: none;
  border: 1px solid #555555 ;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 15px;
}
.button:hover {
  background-color: #555555;
  color: #A31F34;
}*/





/* Projects and research 
/*
.projects{
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 10px;
    /* padding-left: 20vw; */
/*}*/
/*
.box{
  background-color: #444;
  border-radius: 5px;
  padding: 20px;
}

.box-img{
width:100%;max-height:13rem;overflow:hidden;-webkit-filter:url(#monochrome) opacity(80%);filter:url(#monochrome) opacity(80%)
}

.box-grow{height:400px;-moz-transition:height 1s ease;-webkit-transition:height 1s ease;-o-transition:height 1s ease;transition:height 1s ease}
*/
/*#projects {
    display: flex;
    flex-direction: column;
}*/

/*.flexcontainer {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   grid-template-columns: 350px 350px;
    grid-gap: 10px;

}

.features{display:flex; flex-wrap:wrap; flex-direction: column;}
.project-img{}
.cover{object-fit:cover;width:100%;height:100%}

.show{display:inline-block}
.project{border:1px solid #ddd; margin:5px; max-width:350px; display:inline-block; position:relative}
*/

/* .button1 {
  background-color: #101214; 
  color: #7A7C80; 
  border: 2px solid #555555 ;
} */





/* .section-1 p{
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin:0;
}

.section-1 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-1 a{
    font-size: 1.5rem;
    padding: 10px;
} */

/* section 2 */



/* .section-2 h2{
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.section-2 p{
    /* font-size: 1.1rem; */
    /* padding-bottom: 10px;
    margin:0;
} */ 

/* .section-2 a{
    display: block;
    padding: 5px;
    font-size: 1.2rem;
    padding-left: 0;
    width: 100px;
} */

/* animations / utilities */
/* .a:hover{
    font-size: 1.1rem;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.a:hover{
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
} */

/* .white:hover{
    position: relative;
    padding-left: 10px;
} */
